<?xml version="1.0" encoding="UTF-8"?>
<!--

    CODENVY CONFIDENTIAL
    __________________

     [2012] - [2013] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->

<configuration>

    <timestamp key="date" datePattern="yyyy-MM-dd"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
           ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-41(%date[%.15thread])%-45([%-5level] [%.30logger{30} %L]) - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>currentTenant</Key>
            <DefaultValue>default</DefaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${currentTenant}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- daily rollover -->
                    <fileNamePattern>${tenant.logs.dir}/${currentTenant}/%d{yyyy/MM/dd/HH}/${currentTenant}-%i.log</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 1MB -->
                        <maxFileSize>20KB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <encoder>
                    <pattern>%-41(%date[%.15thread])%-45([%-5level] [%.30logger{30} %L]) - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="email" class="ch.qos.logback.classic.net.SMTPAppender">
        <SMTPHost>smtp.gmail.com</SMTPHost>
        <SMTPPort>465</SMTPPort>
        <SSL>true</SSL>
        <username>exo.cloud.ide@gmail.com</username>
        <password>cloudIDEuAeXo</password>
        <to>exo.cloud.ide@gmail.com</to>
        <from>exo.cloud.ide@gmail.com</from>
        <subject>AS error: %logger{20} - %m</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-41(%date[%.15thread])%-45([%-5level] [%.30logger{30} %L]) - %msg%n</pattern>
        </layout>
        <bufferSize>1</bufferSize>
    </appender>


    <logger name="org.exoplatform" level="INFO"/>
    <logger name="com.codenvy.cloudide" level="DEBUG"/>
    <logger name="com.exoplatform.cloud" level="DEBUG"/>
    <logger name="exo" level="INFO"/>
    <logger name="org.gatein" level="INFO"/>
    <logger name="org.chromattic" level="INFO"/>
    <logger name="org.apache.catalina.loader" level="OFF"/>
    <logger name="org.apache.catalina.session.PersistentManagerBase" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="SIFT"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="email"/>
    </root>
</configuration>
